/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: black;
    font-family: arial, sans-serif;
    font-size: 14px;
}

section {
    padding: 80px 0;
}

header {
    padding: 0 10px;
    height: 60px;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

/* ------------------------------------- */
/* General reusable */
/* ------------------------------------- */

.btn {
    border-radius: 5px;
    text-decoration: none;
}

.btn-blue,
input[type=submit] {
    background-color: #4285f4;
    padding: 10px 30px;
    color: white;
}

.btn-blue:hover,
input[type=submit]:hover {
    text-decoration: none;
    background-color: #5190f7;
}

.btn-grey {
    background-color: rgb(250, 248, 248);
    padding: 8px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 3px;
    border: 1px solid white;
}

.btn-grey:hover {
    border: 1px solid rgb(209, 209, 209);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* ------------------------------------- */
/* Header - nav */
/* ------------------------------------- */

.nav-elements {
    height: 60px;
}

.nav-elements ul {
    list-style: none;
    margin-top: 10px;
    height: 45px;
}

.nav-elements li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px
}

.nav-elements ion-icon {
    font-size: 170%;
    color: rgb(119, 119, 119);
}

.left-nav {
    float: left;
    /* padding-top: 10px; */
}

.right-nav {
    float: right;
}

.list-icon {
    background-color: white;
    border-radius: 50%;
}

.list-icon:hover {
    background-color: rgb(245, 245, 245);
}

/* ------------------------------------- */
/* Logo */
/* ------------------------------------- */

.logo-section {
    margin-top: 120px;
}

.logo-image-section {
    margin-top: 60px;
}

.logo,
.search form {
    text-align: center;
    vertical-align: middle;
}

.center {
    margin: 0 auto;
    max-width: 100vh;
}

.logo img {
    height: 92px;
    width: 272px;
}

/* ------------------------------------- */
/* Search */
/* ------------------------------------- */

.search form {
    float: left;
    width: 480px;
}

.search input {
    height: 40px;
    width: 95%;
    border: none;
}

.search-border {
    border-radius: 30px;
    margin: 25px auto;
    height: 45px;
    width: 550px;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: none;
}

.search-border:hover {
    box-shadow: 0 0 3px 0.2px rgb(194, 194, 194);
}

.search-border ion-icon {
    padding-top: 10px;
    text-align: center;
    font-size: 150%;
    float: left;
}

.search-border ion-icon:first-of-type {
    padding-left: 10px;
    color: gray;
}

.search ion-icon[name=mic] {
    color: #5190f7;
}

ion-icon[name=camera] {
    color: gray;
}

.image-search ul {
    list-style: none;
}

*:focus {outline: none;}

#image-form {
    width: 405px;
}

#last-search {
    color: #4285f4;
}

/* ------------------------------------- */
/* Search buttons */
/* ------------------------------------- */

.buttons {
    position: relative;
}

.buttons button {
    position: absolute;
    left: 50%;
    top: 30px;
}

.buttons button:first-child {
    transform: translateX(-110%);
}

.buttons button:last-child {
    transform: translateX(10%);
}

/* ------------------------------------- */
/* FOOTER */
/* ------------------------------------- */

footer {
    position: absolute;
    bottom: 1px;
    width: 100vw;
}

.bottom li {
    display: inline-block;
}

.bottom {
    position: relative;
}

.bottom ion-icon {
    color: green;
}

.bottom > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    border-top: 1px solid rgb(218, 218, 218);
}

footer div {
    height: 45px;
    background-color: rgb(241, 241, 241);
}

.bottom > a,
.bottom li,
.top p {
    padding: 14px 20px;
}

.top p,
.bottom a {
    color: rgb(148, 148, 148);
}

/* ------------------------------------------------------------ */
/* Image page */
/* ------------------------------------------------------------ */

.logo-subtext {
    color: #4285f4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: relative;
    top: -22px;
    left: 105px;
}

.image-search {
    margin-top: 0px;
}

/* ------------------------------------------------------------ */
/* Advanced Search Page */
/* ------------------------------------------------------------ */

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */

.nav-adv {
    background-color: rgb(241, 241, 241);
}

.google-small-logo {
    height: 30px;
    width: auto;
    margin-top: 16px;
    margin-left: 15px;
}

.icon-adv {
    background-color: rgb(241, 241, 241);
}

.title {
    color: #d93025;
    font-size: 20px;
    margin: 25px 45px;
}

.bar {
    border-bottom: 1px solid #ebebeb;;
}

.header-adv {
    padding: 0;
}

/* ------------------------------------- */
/* Form section */
/* ------------------------------------- */

.forms {
    padding-bottom: 20px;
}

.form-col {
    width: 800px;
    margin-bottom: 20px;
}

.form-section {
    padding: 46px 0;
    margin-left: 45px;
}

.form-section ul {
    list-style: none;
}

.form-headings {
    padding-bottom: 20px;
}

.flex-container {
    width: 760px;
}

.upper-form input:not(.submit-btn) {
    height: 25px;
}

.forms li {
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
}

.forms input:not(.submit-btn) {
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    width: 575px;
    height: 28px;
}

.forms label,
.forms div span {
    line-height: 28px;
    font-size: 13px;
}

.forms li div {
    display: flex;
    justify-content: space-between;
    width: 575px;
}

.forms li div input {
    flex-basis: 45%;
}

.forms li:last-of-type {
    justify-content: flex-end;
}

li .submit-btn {
    padding: 7.5px 10px;
    border-radius: 2px;
    border: 1px solid #3079ed;
    font-size: 11px;
    font-weight: bold;
}

.text-input {
    padding: 1px 8px;
}