body > div {
    /* border: 1px solid black; */
    margin: 10px;
    display: block;
}

.top-row {
    /* background-color: coral; */
    /* width: 100%; */
    height: 75px;
}

.logo {
    /* background-color: darkcyan; */
    height: 190px;
}

.search {
    /* background-color: darkgoldenrod; */
    height: 150px;
}

.bottom-row {
    height: 75px;
    /* background-color: darkorchid; */
    position: relative;
    top: 365px;
}

#main-logo {
    position: relative;
    left: 50%;
    margin-left: -136px;
    top: 103px;
    height: 92px;
    width: 272px;
}

#search-form {
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 32.5px;                
}

.search_input {
    width: 475px;
    height: 42.5px;
    margin-left: -140px;
    border-radius: 40px;
    border: 1px solid lightgray;
}

.btn {
    position: relative;
    top: 30px;
    background-color: rgb(250, 248, 248);
    border: none;
    font-size: 14px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
}

.btn-left {
    left: 50%;
    margin-left: -140px;
}

.btn-right {
    left: 50%;
    margin-left: 10px;
}

.logo-subtext {
    position: relative;
    left: 59%;
    top: 67px;
    font-weight: 100;
    color: #4285F4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #202124;
    font-size: small;
}

a:hover {
    text-decoration: underline;
}

p {
    text-decoration: none;
    color: #202124;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

.topLeftLinks {
    padding: 10px;
    padding-left: 10px;
}

#store {
    position: absolute;
    top: 0px;
    left: 67px;
}

#gmail {
    position: absolute;
    top: 10px;
    left: 80%;
}

#images {
    position: absolute;
    top: 23px;
    left: 85.5%;
}

td {
    position: relative;
    padding-left: 10px;
}

table {
    position: absolute;
    bottom: 0px;
}

.table-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.bottom-lower {
    background-color: rgb(211, 211, 211);
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 25px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -10px;
}